<div align="center">

<form class = "form-horizontal w-100 mx-auto rounded shadow-lg p-4 mb-4 rounded bg-white border border-info" role = "form" style="width:100%">


     <h4 class="text-center" style="color: orange">Login Page</h4>
   <hr color="green"/>


<br>
   <div class="form-group row">

      <div class="col-sm-3">
         <h5>Email &nbsp; &nbsp; : </h5>
      </div>

     <!-- <label for="email" class="col-sm-2 col-form-label"></label>-->
      <div class="col-sm-6">
         <input type="text" class="form-control" id="email" placeholder="First Email" ng-model="firstName">
      </div>
      <div class="col">
         <p></p>
      </div>

   </div>




   <div class="form-group row">

      <div class="col-sm-3">
         <h5>Password :</h5>
      </div>
      <!--  <label for="pwd" class="col-sm-2 col-form-label"></label>-->
        <div class="col-sm-6">
           <input type="password" class="form-control" id="pwd" placeholder="Enter Password" ng-model="firstName">
        </div>
        <div class="col">
           <p></p>
        </div>

     </div>





     <div  class = "form-group">
         <div class="col">
             <p></p>
         </div>
        <div class = "col-sm-offset-2 col-sm-6">
           <div class = "checkbox">
              <label  align="left" class="text-danger" ><font size="3"> Haven't you registered Yet? <a href="#userReg">Click here</a></font></label>
           </div>
        </div>
         <div class="col">
             <p></p>
         </div>
     </div>

     <div class = "form-group">

        <div class = "col-sm-offset-2 col-sm-6">
           <button type = "submit" class = "btn  btn-sm btn-block btn-success">Sign in</button>
        </div>

     </div>

  </form>
  </div>