<!doctype html>
<html lang="en"  ng-app="S3BazaarApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

   <title>S3Buy.in</title>
    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
         integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>

    <!-- Custom styles for this template -->
    <link href="./css/custom.css" rel="stylesheet"/>


    <!--S3 bazaar JS files -->
    <script type="text/javascript" src="./js/vendor/angular.js"></script>

    <script type="text/javascript" src="./js/vendor/angular-route.js"></script>

    <script type="text/javascript" src="./js/app/app.js"></script>


    <script type="text/javascript" src="./js/app/User/user.module.js"></script>


    <script type="text/javascript" src="./js/app/User/controller/user-login.controller.js"></script>

    <script type="text/javascript" src="./js/app/User/controller/user-reg.controller.js"></script>
    <script type="text/javascript" src="./js/app/User/controller/user-reg-cnf.controller.js"></script>
    <script type="text/javascript" src="./js/app/User/service/user-reg.service.js"></script>

    <script type="text/javascript" src="./js/app/product/product.js"></script>
    <script type="text/javascript" src="./js/app/product/service/product.service.js"></script>
    <script type="text/javascript" src="./js/app/product/controller/product-list.controller.js"></script>

  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav style="background-color:darkslateblue" class="navbar navbar-expand-md navbar-dark fixed-top">
          <a class="navbar-brand font font-oblique font-bold"
            style="font-size: 25px" href="#">S3Buy.in<font size="1px" color="orange"> we know all your needs</font></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link font-italic" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white font-italic" href="#">New offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white font-italic" href="#userLogin">Official Login</a>
            </li>
              <li class="nav-item">
              <a class="nav-link text-white font-italic" href="#userReg">Registration</a>
            </li>
              <li class="nav-item">
              <a class="nav-link text-white font-italic" href="">Contact us</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <div class="container">

        <div ng-view="">



        </div>
        
    </div>

  

    <footer class="footer">
      <div class="container">
        <span class=""><font size="2">Copyright &#169; 2018, Designed and Developed by shaiksha ks .All rights reserved
        </font></span>
       </div>
    </footer>

  



       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>